1. Given a list of numbers, create a function that removes 25% from every number in the list except the smallest number, and adds the total amount removed to the smallest number.

Examples

show_the_love([4, 1, 4]) ➞ [3, 3, 3]

show_the_love([16, 10, 8]) ➞ [12, 7.5, 14.5]

show_the_love([2, 100]) ➞ [27, 75]

In [8]:
def show_the_love(lst):
    least=min(lst)
    amount=0
    l=[]
    for i in lst:
        if i>least:
            l.append(i-0.25*i)
            amount=amount+0.25*i
    return l+[least+amount]

In [9]:
show_the_love([4, 1, 4])

[3.0, 3.0, 3.0]

In [10]:
show_the_love([16, 10, 8])

[12.0, 7.5, 14.5]

In [11]:
show_the_love([2, 100])

[75.0, 27.0]

2. Create a function that takes in two words as input and returns a list of three elements, in the following order:

   1.Shared letters between two words.
   2.Letters unique to word 1.
   3.Letters unique to word 2.

Each element should have unique letters, and have each letter be alphabetically sorted.

Examples

letters("sharp", "soap") ➞ ["aps", "hr", "o"]

letters("board", "bored") ➞ ["bdor", "a", "e"]

letters("happiness", "envelope") ➞ ["enp", "ahis", "lov"]

letters("kerfuffle", "fluffy") ➞ ["flu", "ekr", "y"]
# Even with multiple matching letters (e.g. 3 f's), there should 
# only exist a single "f" in your first element.

letters("match", "ham") ➞ ["ahm", "ct", ""]
# "ham" does not contain any letters that are not found already 
# in "match".

In [53]:
def letters(a,b):
    c=""
    for i in a:
        if i in b:
            c=c+i
            a=a.replace(i,"")
            b=b.replace(i,"")
    return ["".join(sorted(list(set(sorted(c))))),"".join(sorted(list(set(sorted(a))))),"".join(sorted(list(set(sorted(b)))))]

In [54]:
letters("sharp", "soap")

['aps', 'hr', 'o']

In [55]:
letters("board", "bored")

['bdor', 'a', 'e']

In [56]:
letters("happiness", "envelope")

['enp', 'ahis', 'lov']

In [57]:
letters("kerfuffle", "fluffy")

['flu', 'ekr', 'y']

In [58]:
letters("match", "ham")

['ahm', 'ct', '']

In [76]:
#method 2:
def letters1(a,b):
    s1=set(a)
    s2=set(b)
    return ["".join(sorted(i)) for i in [s1&s2,s1-s2,s2-s1]]

In [77]:
letters1("kerfuffle", "fluffy")

['flu', 'ekr', 'y']

3. Write a function that pairs the first number in an array with the last, the second number with the second to last, etc.

Examples

pairs([1, 2, 3, 4, 5, 6, 7]) ➞ [[1, 7], [2, 6], [3, 5], [4, 4]]

pairs([1, 2, 3, 4, 5, 6]) ➞ [[1, 6], [2, 5], [3, 4]]

pairs([5, 9, 8, 1, 2]) ➞ [[5, 2], [9, 1], [8, 8]]

pairs([]) ➞ []

In [114]:
def pairs(lst):
    #l=len(lst)
    if lst==[]:
        return []
    else:
        l=[]
        for i in range(len(lst)//2 +1):
            l.append([lst[i],lst[len(lst)-1-i]])
        return l

In [115]:
pairs([1, 2, 3, 4, 5, 6, 7])

[[1, 7], [2, 6], [3, 5], [4, 4]]

In [116]:
pairs([1, 2, 3, 4, 5, 6])

[[1, 6], [2, 5], [3, 4], [4, 3]]

In [117]:
pairs([5, 9, 8, 1, 2])

[[5, 2], [9, 1], [8, 8]]

In [118]:
pairs([])

[]

4. Write a function that adds two numbers. The catch, however, is that the numbers will be strings.

Examples

add_str_nums("4", "5") ➞ "9"

add_str_nums("abcdefg", "3") ➞ "-1"

add_str_nums("1", "") ➞ "1"

add_str_nums("1874682736267235927359283579235789257", "32652983572985729") ➞ "1874682736267235927391936562808774986"

In [129]:
def add_str_nums(a,b):
    a="0"+a
    b="0"+b
    if a.isnumeric() and b.isnumeric():
        return int(a)+int(b)
    else:
        return -1

In [130]:
add_str_nums("4", "5")

9

In [131]:
add_str_nums("abcdefg", "3")

-1

In [132]:
add_str_nums("1", "")

1

In [133]:
add_str_nums("1874682736267235927359283579235789257", "32652983572985729")

1874682736267235927391936562808774986

5. lPaeesh le pemu mnxit ehess rtnisg! Oh, sorry, that was supposed to say: Please help me unmix these strings!

Somehow my strings have all become mixed up; every pair of characters has been swapped. Help me undo this so I can understand my strings again.

Examples

unmix("123456") ➞ "214365"

unmix("hTsii  s aimex dpus rtni.g") ➞ "This is a mixed up string."

unmix("badce") ➞ "abcde"

In [138]:
def unmix(txt):
    x=[txt[i:i+2][::-1] for i in range(0,len(txt),2)]
    return("".join(x))

In [139]:
unmix("123456")

'214365'

In [140]:
unmix("hTsii  s aimex dpus rtni.g")

'This is a mixed up string.'

In [141]:
unmix("badce")

'abcde'