1. Write four functions that directly mutate a list:

    1. repeat(lst, n): Repeat lst n times.
    2. add(lst, x): Adds x to the end of the lst.
    3. remove(lst, m, n): Removes all elements between indices m and n inclusive in lst.
    4. concat(lst, x): concatenates lst with x (another list).

Examples

lst = [1, 2, 3, 4]

repeat(lst, 3) ➞ [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4] 

add(lst, 1) ➞ [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1]

remove(lst, 1, 12) ➞ [1]

concat(lst, [3, 4]) ➞ [1, 3, 4]

In [5]:
lst = [1, 2, 3, 4]
def repeat(n):
    global lst
    lst=n*lst
    return lst
def add(num):
    global lst
    lst.append(num)
    return lst
def remove(a,b):
    global lst
    del lst[a:b+1]
    return lst
def concat(a,b):
    global lst
    lst.extend([a,b])
    return lst

In [6]:
repeat(3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [7]:
add(1)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1]

In [8]:
remove(1,12)

[1]

In [9]:
concat(3,4)

[1, 3, 4]

2. The classic game of Mastermind is played on a tray on which the Mastermind conceals a code and the Guesser has 10 tries to guess it. The code is a sequence of 4 (or 6, sometimes more) pegs of different colors. Each guess is a corresponding sequence of 4 (or more) pegs of different colors. A guess is "correct" when the color of every peg in the guess exactly matches the corresponding peg in the Mastermind's code.

After each guess by the Guesser, the Mastermind will give a score comprising black & white pegs, not arranged in any order:

   - Black peg == guess peg matches the color of a code peg in the same position.
   - White peg == guess peg matches the color of a code peg in another position.

Create a function that takes two strings, code and guess as arguments, and returns the score in a dictionary.

   - The code and guess are strings of numeric digits
   - The color of the pegs are represented by numeric digits
   - no "peg" may be double-scored

Examples

guess_score("1423", "5678") ➞ {"black": 0, "white": 0}

guess_score("1423", "2222") ➞ {"black": 1, "white": 0}

guess_score("1423", "1234") ➞ {"black": 1, "white": 3}

guess_score("1423", "2211") ➞ {"black": 0, "white": 2}

In [16]:
def guess_score(code,guess):
    output={"black":0,"white":0}
    for ele in range(len(code)):
        if code[ele] ==guess[ele]:
            output["black"]+=1
        elif code[ele] in guess and ele!=guess.index(code[ele]):
            output["white"]+=1
    return output

In [17]:
guess_score("1423", "5678")

{'black': 0, 'white': 0}

In [18]:
guess_score("1423", "2222")

{'black': 1, 'white': 0}

In [19]:
guess_score("1423", "1234")

{'black': 1, 'white': 3}

In [20]:
guess_score("1423", "2211")

{'black': 0, 'white': 2}

3. Create a function that takes a list lst and a number N and returns a list of two integers from lst whose product equals N.

Examples

two_product([1, 2, -1, 4, 5], 20) ➞ [4, 5]

two_product([1, 2, 3, 4, 5], 10) ➞ [2, 5]

two_product([100, 12, 4, 1, 2], 15) ➞ None

In [27]:
def two_product(lst,num):
    output=[]
    for i in range(len(lst)):
        for j in range(i,len(lst)):
            if lst[i]*lst[j]==num:
                output.extend([lst[i],lst[j]])
    return output

In [28]:
two_product([1, 2, -1, 4, 5], 20)

[4, 5]

In [29]:
two_product([1, 2, 3, 4, 5], 10)

[2, 5]

In [30]:
two_product([100, 12, 4, 1, 2], 15)

[]

4. In this challenge, sort a list containing a series of dates given as strings. Each date is given in the format DD-MM-YYYY_HH:MM:

"12-02-2012_13:44"

The priority of criteria used for sorting will be:

  - Year
  - Month
  - Day
  - Hours
  - Minutes

Given a list lst and a string mode, implement a function that returns:

   - if mode is equal to "ASC", the list lst sorted in ascending order.
   - if mode is equal to "DSC", the list lst sorted in descending order.

Examples

sort_dates(["10-02-2018_12:30", "10-02-2016_12:30", "10-02-2018_12:15"], "ASC") ➞ ["10-02-2016_12:30", "10-02-2018_12:15", "10-02-2018_12:30"]

sort_dates(["10-02-2018_12:30", "10-02-2016_12:30", "10-02-2018_12:15"], "DSC") ➞ ["10-02-2018_12:30", "10-02-2018_12:15", "10-02-2016_12:30"]

sort_dates(["09-02-2000_10:03", "10-02-2000_18:29", "01-01-1999_00:55"], "ASC") ➞ ["01-01-1999_00:55", "09-02-2000_10:03", "10-02-2000_18:29"]

In [56]:
from datetime import datetime
def sort_dates(date,mode):
    temp=[]
    for ele in date:
        temp.append(datetime.strptime(ele,'%d-%m-%Y_%H:%M'))
    temp=sorted(temp) if mode=="ASC" else sorted(temp,reverse=True)
    output=[]
    for ele in temp:
        output.append(datetime.strftime(ele,'%d-%m-%Y_%H:%M'))
    return output

In [57]:
sort_dates(["10-02-2018_12:30", "10-02-2016_12:30", "10-02-2018_12:15"], "ASC")

['10-02-2016_12:30', '10-02-2018_12:15', '10-02-2018_12:30']

In [58]:
sort_dates(["10-02-2018_12:30", "10-02-2016_12:30", "10-02-2018_12:15"], "DSC")

['10-02-2018_12:30', '10-02-2018_12:15', '10-02-2016_12:30']

In [59]:
sort_dates(["09-02-2000_10:03", "10-02-2000_18:29", "01-01-1999_00:55"], "ASC")

['01-01-1999_00:55', '09-02-2000_10:03', '10-02-2000_18:29']

In [45]:
x=["10-02-2018_12:30", "10-02-2016_12:30", "10-02-2018_12:15"]

5. Write a function that selects all words that have all the same vowels (in any order and/or number) as the first word, including the first word.

Examples

same_vowel_group(["toe", "ocelot", "maniac"]) ➞ ["toe", "ocelot"]

same_vowel_group(["many", "carriage", "emit", "apricot", "animal"]) ➞ ["many"]

same_vowel_group(["hoops", "chuff", "bot", "bottom"]) ➞ ["hoops", "bot", "bottom"]

In [72]:
def same_vowel_group(lst):
    vowels=['a','e','i','o','u']
    output=[]
    first_element=sorted(set([x for x in lst[0] if x in vowels]))
    for ele in range(len(lst)):
        vowel_in_word=[x for x in lst[ele] if x in first_element]
        if sorted(first_element)==sorted(set(vowel_in_word)):
            output.append(lst[ele])
    return output

In [73]:
same_vowel_group(["toe", "ocelot", "maniac"])

['toe', 'ocelot']

In [74]:
same_vowel_group(["many", "carriage", "emit", "apricot", "animal"])

['many', 'carriage', 'apricot', 'animal']

In [75]:
same_vowel_group(["hoops", "chuff", "bot", "bottom"])

['hoops', 'bot', 'bottom']

6. Create a function that takes a list of more than three numbers and returns the Least Common Multiple (LCM).

Examples

lcm_of_list([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]) ➞ 2520

lcm_of_list([13, 6, 17, 18, 19, 20, 37]) ➞ 27965340

lcm_of_list([44, 64, 12, 17, 65]) ➞ 2333760

In [78]:
import math as m
def lcm_of_list(lst):
    num=1
    for i in lst:
        num=m.lcm(i,num)
    return num

In [79]:
lcm_of_list([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

2520

In [80]:
lcm_of_list([13, 6, 17, 18, 19, 20, 37])

27965340

In [81]:
lcm_of_list([44, 64, 12, 17, 65])

2333760